h1, h2, section {
    font-family: Georgia, 'Times New Roman', Times, serif
  }
  
  h1 {
    font-weight: 300;
    font-size: 2rem;
  }   
   
  section {
    border-top: 2px solid #bbb;
  }

  .fit-picture {
    width: 550px;
    height: 500px;
    display: block;
    margin: 0 auto; 
}

  

